{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

{% for article in articles.channel.item %}
            <artcicles>
                {% if article.enclosure is defined %}
                    <img src="{{article.enclosure.attributes.url }}">
                {% endif %}
                <h2>{{article.title}}</h2>
                <ul>
                    <li>description: {{article.description|replace({'<div class="content">': " " ,'</div>':''})}}</li>
                    <li>Date Publication: {{article.pubDate}}</li>
                </ul>    
                <a class="btn btn-warning" href="{{article.link}}">Voir plus</a><br>
                
            </artcicles>
        {% endfor %}
{% endblock %}
