{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="col">
        {% if  app.user.level == 1 %}
            <h1>ERROR: Partie reserver à l'admnistration</h1>
        {% elseif app.user.level == 2 %}
        <div class="row justify-content-center">
            <h1>Admnistration</h1>
        </div>
        <div class="row justify-content-between">
            <a href="{{ path('show_user')}}" class="btn btn-warning">Gérer les utilisateurs</a>
            <a href="{{ path('show_comment')}}" class="btn btn-warning">Gérer les commentaires</a>
            <a href="{{ path('show_article')}}" class="btn btn-warning">Gérer les articles</a>
            <a href="{{ path('admin_show_topic')}}" class="btn btn-warning">Gérer les topics</a>
        </div>
    {% endif %}
</div>

{% endblock %}



