{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

{% if  app.user.level == 1 %}

     <div>
        <h1>ERROR</h1>
        <p>Partie réservée à l'admnistration</p>
    </div>

{% elseif  app.user.level == 2 %}

    <h1>Gestion des topics</h1>
    <section class="articles">
        {% for topic in topics %}
           <article>
                <ul>
                    <li>Identifiant : {{topic.id}}</li>
                    <li>Nom: {{topic.title}}</li>
                    <li>Créer par: {{topic.author.username}} le {{ topic.createdAt | date('d/m/Y') }} à {{ topic.createdAt | date('H:i') }}</li>
                    <li>Comporte {{ topic.posts| length }} message(s)</li>
                </ul>
                <a class="btn btn-warning" href="{{ path('admin_delete_topic', {'id': topic.id}) }}">
                    Supprimer ce topic</a>
            </article>
        {% endfor %}
    </section>
    <a class="back btn btn-warning" href="{{ path('admin')}}">Retour</a>
    {% endif %}

{% endblock %}
