{% extends 'base.html.twig' %}

{% block body %}
{% if  app.user.level == 1 %}

    <h1>ERROR: Partie reserver à l'admnistration</h1>

{% elseif  app.user.level == 2 %}

    {% if editMode %}
        <h1>Modifcation d'un article !</h1>
    {% else %}
        <h1>Création d'un article !</h1>
    {% endif %}

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}
    )}}
    {{ form_row(formArticle.category)}}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}
    )}}
    {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'article"}}
    )}}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}

    </button>

    {{ form_end(formArticle) }}
{% endif %}

{% endblock %}