{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/actualite.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <header class="header-histoire">
        <div>
            <h1>Histoire de l'apiculture</h1>

            <p class="histoire">La récolte et la consommation de miel, à distinguer de l'apiculture proprement dite, remontent à la préhistoire. Les peintures rupestres représentant des scènes de cueillette de miel montrent l'utilisation d'échelles et de l'enfumage. À cette époque, l'homme recueille le miel souvent en détruisant la colonie. L'apiculture est courante dans le Haut-Empire égyptien du xxive siècle av. J.-C.. Des modèles de ruches en planches sont courants dans l'Antiquité, ainsi que des ruches tressées, et en céramique : elles sont d'abord faites de baguettes de bois entrecroisées, étanchées avec un mélange de bouse de vache et de cendres. Les ruches en paille tressée, plus tardives, sont mentionnées pour la première fois dans une ordonnance de Charlemagne, datée de 799, le Capitulaire De Villis. En Europe, l'exploitation intensive du miel date de la fin du xviiie siècle avec l'invention de la hausse qui permet de rendre la récolte de miel plus productive, et c'est à partir de ce moment que l'on peut commencer à parler d'élevage. L'avènement de l'apiculture moderne se fait par l'invention du cadre mobile, mis au point en 1844, par le Dr Charles Paix Debeauvoys.</p>
            <a class="btn btn-dark" href="{{ path('documentation_history') }}">Voir plus</a>
        </div>
    </header>

    <section class="d-flex flex-wrap justify-content-center">

        <h2>Actualités</h2>

        <div class="d-flex flex-wrap justify-content-center">
        {% set break = false %}

        {% for article in articles.channel.item %}
            {% if loop.index < 6 %}
                {% set break = true %}
                {% if loop.index == 1 %}
                   <artcicles class="premier d-flex flex-row justify-content-center bd-highlight pb-3">
                        {% if article.enclosure is defined %}
                            <img class="img-article" src="{{article.enclosure.attributes.url }}">
                        {% else %}
                            <img class="img-article" src="images/abeille-article.jpg">
                        {% endif %}
                        <div class="article pl-3 pb-5 d-flex flex-column justify-content-between">
                            <div class="texte">
                                <p> <span class="titre my-0">{{article.title}}</span><br>
                                {{article.pubDate}}</p>  
                                <p class="description">
                                {{article.description |replace({'<div class="content">': " " ,'</div>':''})}}
                                </p>
                            </div>
                            <a class="btn btn-warning" href="{{article.link}}">Voir plus</a>
                        </div>
                        
                    </artcicles>

                {% else %}

                    <artcicles class="autre deuxieme d-flex flex-row bd-highlight pb-3">
                        {% if article.enclosure is defined %}
                            <img class="img-article" src="{{article.enclosure.attributes.url }}">
                        {% else %}
                            <img class="img-article" src="images/abeille-article.jpg">
                        {% endif %}
                        <div class="article pl-3 pb-5">
                            <div class="texte">
                                <p> <span class="titre my-0">{{article.title}}</span><br>
                                {{article.pubDate}}</p>  
                                <p class="description">
                                {{article.description |replace({'<div class="content">': " " ,'</div>':''})}}
                                </p>
                            </div>
                            <a class="btn btn-warning" href="{{article.link}}" target="_blank">Voir plus</a>
                        </div>
                        
                    </artcicles>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
       <a class="btn btn-warning" href="{{ path('actualite') }}">Voir tout les articles</a>
    </section>
    
{% endblock %}
