{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/article.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="container">
    <div>
        <artcicle >
            <div class="row justify-content-md-center">
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le
                {{ article.createAt | date('d/m/Y') }}
                à
                {{ article.createAt | date('H:i') }}
                dans la catégorie
                {{ article.category.title}}
            </div>
            </div>
            <div class="row justify-content-md-center">
                <img src="{{ article.image }}" alt=""><br />
            </div>
            <p class="text-justify">
                {{ article.content | raw }}
            </p>

            {% if app.user %}
                {% if  app.user.level == 2 %}
                    <a class="btn btn-warning" href="{{ path('blog_edit', {'id': article.id}) }}">Modifier</a>
                {% endif %}
            {% endif %}
        </artcicle>
        <section>
            <p>{{ article.commentArticles| length }} commentaires :</p>
            {% for commentArticle in article.commentArticles %}
                <div>
                    <div class="d-flex justify-content-start mt-1">
                        <div class="col-3 border rounded-left bg-white">
                            {{ commentArticle.author.username}}<br/>
                            <small>{{ commentArticle.createdAt | date('d/m/Y à H:i')}}</small>
                        </div>
                        <div id="com" class="col border border-left-0 rounded-right bg-white">
                            {{ commentArticle.content | raw}}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if app.user %}

                {{ form_start(commentArticleForm) }}
                    {{ form_row(commentArticleForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
                    <button type="submit" class="btn bg-warning text-dark">Commenter</button>
                {{ form_end(commentArticleForm) }}
            {% else %}
                <p>Vous ne pouvez pas commenter si vous n'êtes pas connecté</p>
                <a href="{{ path('security_login')}}" class="btn bg-warning text-dark">Connexion</a>
            {% endif %}
        </section>
        <div class="d-flex justify-content-around">
            <a class="btn bg-warning text-dark" href="{{ path('blog') }}">Retour</a>
        </div>
    </div>
</div>

{% endblock %}