{% extends 'base.html.twig' %}

{% block title %}Produits de la ruche{% endblock %}

{% block body %}
<div class="col">
<div class="row">
    {% for article in articles %}
    <div class="col justify-content-between">
        <div class="row">
            <artcicle>
                <h2>{{ article.title }}</h2>
                <div class="metadata">Ecrit le
                    {{ article.createAt | date('d/m/Y') }}
                    à
                    {{ article.createAt | date('H:i') }}
                    dans la catégorie
                    {{ article.category.title}}
                </div>
                <div class="content">
                    <img src="{{ article.image }}" alt=""><br />
                    {{ article.content | raw }}
                </div>
                <a class="btn btn-info" href="{{ path('blog_edit', {'id': article.id}) }}">Modifier</a>
            </artcicle>
        </div>
        <div class="row">
            <h1>{{ article.commentArticles| length }}
                commentaires :</h1>
            {% for commentArticle in article.commentArticles %}

                <div class="comment">
                    <div class="row">
                        <div class="col-3">
                            {{ commentArticle.author.username}}
                            (<small>{{ commentArticle.createdAt | date('d/m/Y à H:i')}}</small>)
                        </div>
                        <div class="col">
                            {{ commentArticle.content | raw}}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if app.user %}
                {{ form_start(commentArticleForm) }}
                {{ form_row(commentArticleForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
                <button type="submit" class="btn btn-success">Commenter !</button>
                {{ form_end(commentArticleForm) }}
            {% else %}
                <div class="row">
                <h2>Vous ne pouvez pas commenter si vous n'êtes pas connecter !</h2>
                <a href="{{ path('security_login')}}" class="btn btn-primary">Connexion</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="row">
        <a class="btn btn-info" href="{{ path('documentation_apiculture')}}">Retour</a>
    </div>
</div>
{% endblock %}