{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/user.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

		<div class="d-flex flex-row justify-content-md-center">
			<h1>Modifier mon profil</h1>
		</div>
		<div class="d-flex flex-row justify-content-md-center">
			{{ form_start(formEdit)}}
				{{ form_row(formEdit.username, {'label': 'Pseudo','attr':{'placeholder': 'Pseudo...'}})}}
				{{ form_row(formEdit.email, {'label': 'Adresse email','attr':{'placeholder': 'Adresse email ...'}})}}
				<button type="submit" class="btn bg-warning">Enregistrer les modifications</button>
			{{ form_end(formEdit)}}
		</div>
		<div class="d-flex flex-row justify-content-md-center mt-2">
        	<a class="btn btn-warning" href="{{ path('user_info')}}">Retour</a>
		</div>

{% endblock %}