{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/forum.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

{% if app.user %}

<div class="row justify-content-center">
    <h1>Création de topic</h1>
</div>

{{ form_start(formTopic)}}

{{ form_row(formTopic.title, {'label': 'Titre','attr':{'placeholder': 'Titre du topic..'}})}}
<button type="submit" class="btn btn-success">Créer topic</button>
{{ form_end(formTopic)}}

{% else %}
<p>Vous ne pouvez pas créer de topic si vous n'êtes pas connecté !</p>

{% endif %}


{% endblock %}

