{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/forum.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}


    <h1>Modification du post</h1>
    {{ form_start(editForm) }}
            {{ form_row(editForm.content, {'attr': {'placeholder': "Votre post"}}) }}

            <button type="submit" class="btn btn-warning">Modifier </button>

            {{ form_end(editForm) }}
    

    <a class="back btn btn-warning" href="{{ path('forum')}}">Retour</a>
    
{% endblock %}
