{% extends 'base.html.twig' %}

{% block body %}

<div class="col">
    <div class="row space-around">
        <div class="col">
            <artcicle>
                <h2>{{topic.title}}</h2>
                <p>Créer le{{ topic.createdAt | date('d/m/Y') }}
                    à
                    {{ topic.createdAt | date('H:i') }}</p>
                    <p>Par {{topic.author.username}}</p>
                </div>

            </artcicle>
        </div>
    </div>


    <div class="row justify-content-between align-items-center">
        <section id="commentaires">
        <p>{{ topic.posts| length }}
            message sur ce topic :</p>
        {% for post in topic.posts %}

            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ post.author.username}}
                        (<small>{{ post.createdAt | date('d/m/Y à H:i')}}</small>)
                    </div>
                    <div class="col">
                        {{ post.content | raw}}
                    </div>
                </div>
            </div>
            {% if app.user %}
                        {% if app.user.level == 2  %}
                        <a href="{{ path('delete_post', {'id': post.id}) }}" >Supprimer ce post</a>
                        {% elseif app.user.id == post.author.id %}
                        <a href="{{ path('delete_post', {'id': post.id}) }}" >Supprimer mon post</a>
                        {% endif %}
                    {% endif %}

        {% endfor %}

        {% if app.user %}

            {{ form_start(formPost) }}
            {{ form_row(formPost.content, {'attr': {'placeholder': "Votre post"}}) }}

            <button type="submit" class="btn btn-success">Poster !</button>

            {{ form_end(formPost) }}

        {% else %}
            <p>Vous ne pouvez pas posté si vous n'êtes pas connecté</p>
            <a href="{{ path('security_login')}}" class="btn btn-primary">Connexion</a>
        {% endif %}
        </section>
    </div>
    <div class="row space-around">
        <a class="btn btn-info" href="{{ path('forum')}}">Retour</a>
    </div>
</div>

{% endblock %}